<h1>Spaceships</h1>

<!-- form user submits -->
<form method="get">
    <!-- outputs the form as paragraphs -->
    {{ form.as_p }}
    <input type="submit" value="Filter">
</form>

<!-- table that is returned -->
<table>
    <tr>
        <th>Color</th>
        <th>Maximum Speed</th>
        <th>Date of Manufacture</th>
        <th>Has Pulse Laser</th>
    </tr>
    {% for spaceship in ss %}
    <tr>
        <td>{{ spaceship.colour }}</td>
        <td>{{ spaceship.max_speed }}</td>
        <td>{{ spaceship.date_of_manufacture }}</td>
        <td>{{ spaceship.has_pulse_laser }}</td>
    </tr>
    {% endfor %}
</table>